body {
    background-color: beige;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div {
    padding: 10px;
    outline: 2px solid black;
    flex: 1;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    outline: 2px solid black;
    padding: 20px;
}

div:hover {
    background-color: black;

}

button {
    align-self: center;
}